@import "bootstrap";
@import "responsive";

.content{
	// max-width:400px;
	// margin:20px auto;
	padding-top:60px
}

.list-options{
	background:@grayLighter;
}

.learned-btn-group{
	margin-bottom:20px;
}